.vscode/


#
*/.ipynb_checkpoints


# bash
bashscripts/

# output
output/

# documentation
documentation/Manuscript_DEMENTpy.docx
documentation/DEMENTpy_Documentation.tex
documentation/DEMENTpy_Documentation.docx
documentation/DEMENTpy_Documentation.pdf
documentation/computation_statistics.csv


# DEMENTpy_notebooks
DEMENTpy_notebooks/